.header {
  height: 90px;
  background-color: #233b77;
}

.serchbar {
  width: 100%;
  color: white;
  background-color: #233b77;
}

.serchbarrighticon {
  /* margin-top: 10px; */
  margin-left: 10px;
  font-size: 20px;
  color: white;
  background-color: #233b77;
}
p {
  font-family: Nunito !important;
}
.prev-holder h1 {text-align: left; font-size: 20px; font-weight: 600;}
#fb-editor ul.pull-left li {margin-bottom: 15px; border: 1px solid transparent;}
#fb-editor ul.pull-left li:hover {
  border-top-right-radius:0;
  border-top-left-radius:0;
  border:1px solid #c5c5c5;
  border-radius: 0;
}
.searchbar-result-wrapper {
  width: 240px;
  left:70px;
}
.pagestxt {
  padding-left: 30px;
  padding-top: 30px;
}
.create-document-btns {margin-left: -10px;}
.create-document-btns button {
  margin-left: 10px;
  margin-bottom: 10px;
}
.MuiPagination-ul li button {
  vertical-align: super;
}
.MuiPagination-ul li button.Mui-disabled {
  opacity: 0.15;
}
table.table {
  margin-bottom: 0;
}
/* .pagestxt1 { */
  /* padding-left: 30px; */
/* } */

/* .profile {
  padding-left: 20px;
} */

.product {
  padding: 0;
  margin: 0;
}

.active {
  background-color: #0cb4d0;
  color: white;
}

/* #leftCol {
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
  display:block;
} */

.futtor {
  width: fit-content;
  block-size: fit-content;
}
.center {
  padding: 170px 0;
  /* border: 3px solid green; */
  text-align: center;
}
.sort {
  border: 1px solid black !important;
  color: black !important;
}
.Edit {
  border: 1px solid #0cb4d0 !important;
  color: #0cb4d0 !important;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header-logo {height: 70px;}
.Accordion123 {
  /* border-bottom: white 2px solid !important; */
}
.css-hgskoz-MuiPaper-root-MuiAccordion-root{
  box-shadow: none !important;
}
.Accordion1 {
  margin-block: 0px !important;
  padding: 0 !important;
  padding-top: 0 !important;
  padding-block: 0 !important;
  line-height: 0 !important;
  min-height: 29px !important;
  height: 19px !important;
  /* border: white 2px solid !important; */
}
.childA {
  margin: 0 !important;
  /* margin-left: 32px !important; */
  padding: 0 !important;
  padding-left: 30px;
}
.Purchase {
  background: linear-gradient(0deg, #e0e0e0, #e0e0e0),
    linear-gradient(0deg, #f7f9fc, #f7f9fc);
}
body {
  font-family: Nunito !important;
}
.clu1 {
  background: linear-gradient(0deg, #e0e0e0, #e0e0e0),
    linear-gradient(0deg, #f7f9fc, #f7f9fc);
  color: black !important;
  margin-right: 5px;
}
.clu {
  color: #0cb4d0 !important;
  margin-right: 5px;
}
.A1 {
  background-color: #0cb4d0 !important;
}
.activetime {
  background-color: #0cb4d0;
  color: #f7f9fc;
}

.main-container {
  /* width: 100%;
	height: 100vh; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  /* background-color: #0CB4D0; */
}

.check-container {
  width: 6.25rem;
  height: 7.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.IList{
  margin-left: 8px;
}
.check-background {
  width: 100%;
  height: calc(100% - 1.25rem);
  background: linear-gradient(to bottom right, #1e9ff2, #1e9ff2);
  box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
    0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  transform: scale(0.84);
  border-radius: 50%;
  animation: animateContainer 0.75s ease-out forwards 0.75s;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
svg {
  width: 65%;
  transform: translateY(0.25rem);
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: animateCheck 0.35s forwards 1.25s ease-out;
}

.check-shadow {
  bottom: calc(-15% - 5px);
  left: 0;
  border-radius: 50%;
  background: radial-gradient(closest-side, rgba(30, 159, 242), transparent);
  animation: animateShadow 0.75s ease-out forwards 0.75s;
}

@keyframes animateContainer {
  0% {
    opacity: 0;
    transform: scale(0);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  25% {
    opacity: 1;
    transform: scale(0.9);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  43.75% {
    transform: scale(1.15);
    box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  62.5% {
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
  }
  81.25% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }
}

@keyframes animateCheck {
  from {
    stroke-dashoffset: 80;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes animateShadow {
  0% {
    opacity: 0;
    width: 100%;
    height: 15%;
  }
  25% {
    opacity: 0.25;
  }
  43.75% {
    width: 40%;
    height: 7%;
    opacity: 0.35;
  }
  100% {
    width: 85%;
    height: 15%;
    opacity: 0.25;
  }
}

.sedow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .sedowFile {
  box-shadow: 0 4px 8px 0 rgba(#0CB4D0), 0 6px 20px 0 rgba(#0CB4D0);
} */
.css-tlelie-MuiListItemText-root {
padding-top: 7px;
}
.sidebartogle{
  display: none;
}

@media (max-width:1534px){
  .sidebartogle{
    display:block;
  }
}
@media (max-width:1534px){
  .leftCol{
    display:none;
  }
}
.newside {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.blockbuilder-branding {
  display:none;
}
html, body{
  /* text-align: center; */
  font-family: sans-serif;

}

h1, a{
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

.section{
  padding: 4rem 2rem;
}

.section .error{
  font-size: 150px;
  color: #0cb4d0;
  text-shadow: 
    1px 1px 1px #00593E,    
    2px 2px 1px #00593E,
    3px 3px 1px #00593E,
    4px 4px 1px #00593E,
    5px 5px 1px #00593E,
    6px 6px 1px #00593E,
    7px 7px 1px #00593E,
    8px 8px 1px #00593E,
    25px 25px 8px rgba(0,0,0, 0.2);
}

.page{
  margin: 2rem 0;
  font-size: 20px;
  font-weight: 600;
  color: #444;
}

.back-home{
  display: inline-block;
  border: 2px solid #222;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.75rem 1rem 0.6rem;
  transition: all 0.2s linear;
  box-shadow: 0 3px 8px rgba(0,0,0, 0.3);
}
.back-home:hover{
  background: #0cb4d0;
  color: #ddd;
}
.file-modules {
  border-bottom: 3px solid transparent;
}
.file-modules,
.fileActive {
  font-size: 20px;  
}

.fileActive {
  color:#0cb4d0;
  border-bottom: 3px solid #0cb4d0;
}
.file-modules:hover {
  color:#0cb4d0;
  border-bottom: 3px solid #0cb4d0;
}
.select-day {
  display: none; 
  width: 30px;
  height:30px;
}
.select-day ~ button {display: inline-block;}
/* ffff */

/* 
@media (max-width:375px){
  .css-a5rdam-MuiGrid-root {
     margin-left: 0 !important;
  }
  .css-4l5sx0-MuiTypography-root {
   margin-left: 16px !important;
  }
  .css-a5rdam-MuiGrid-root {
    width: calc(100% + 41px) !important;
  }
  .css-j4suo0-MuiTypography-root {
     font-size: 16px !important;
  }
  .css-mv3ja0-MuiTypography-root {
    font-size:16px !important;

  }
  .css-17wjnrn-MuiSvgIcon-root {
    width:0.7em !important;
    height: 0.7em !important;
  }
}
  
@media (max-width:767px){
  .css-a5rdam-MuiGrid-root {
    width: calc(100% + 64px);
  }
  .css-4l5sx0-MuiTypography-root {
    margin-left: 104px !important;
  }

}

@media (max-width:991px){
  .css-a5rdam-MuiGrid-root {
    width: calc(100% + 43px) !important;
  }
  .css-17wjnrn-MuiSvgIcon-root {
    width:0.7em !important;
    height: 0.7em !important;
  }
  .css-j4suo0-MuiTypography-root {
    font-size: 17px !important;
  }
  .css-mv3ja0-MuiTypography-root {
    font-size: 17px;
  }
} */

/* @media (max-width:1537px){
  .css-a5rdam-MuiGrid-root {
    width: calc(100% + 80px) !important;
  }
  .css-4l5sx0-MuiTypography-root {
    margin-left: 90px !important;
  }
} */

/* @media (max-width:1900px){
  .css-a5rdam-MuiGrid-root {
    width: calc(100% + 70px) !important;
  }
  .css-4l5sx0-MuiTypography-root {
    margin-left: 120px !important;
  }
} */
/*  */


/****** Arvinder Custom css ******/
.hcp-icons-das{
  text-align: center;
  padding-bottom: 25px;
  
}
.hcp-icons-das svg{
  font-size: 60px;
  margin-top: -16px;
  
}

.view-all-common{
  font-size: 25px;
    text-align: right;
    font-weight: normal;
    color: #0cb4d0;
    cursor: pointer;
    margin: 0;
 
}

/* .table-com-ar{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow-x: scroll;
} */
.table-grid-co{
  max-width: 100% !important;
  flex-basis:100% !important;
  overflow: hidden;
  /* padding:5px; */
}
.overflow-hide{
  overflow: hidden;
  padding:5px !important;
}
@media screen and (min-width: 600px) {
  .user-toggle {
    display: none;
  }
  #fb-editor ul.pull-left {width:calc(74% - 35px)}
  /* .modal-lg, .modal-xl {
    --bs-modal-width: 800px;
  } */
}
@media screen and (min-width: 900px) {
  .searchbar-result-wrapper {   
    left:90px;
  }
}
@media screen and (min-width: 1535px) {
  .searchbar-result-wrapper {   
    left:50px;
  }
}
@media screen and (max-width:899px){
  .table-com-ar table {
    width: 1024px;
  }
  .select-day {
    display: inline-block; 
  }
  .select-day ~ button {display: none;}
  /* .product-table-ar{
    padding-left:0px !important;
  } */
.view-all-common, .view-all-common svg, .ad-title-mb {
  font-size: 16px !important;
}

.view-all-common{
  margin-top:0px !important;
}
.main-title-ad{
  margin-left:0px !important; 
  text-align: center;
}

}


/**** User List ******/

.userlist-ar{

}

.userlist-tb{
  max-width:80%;
  margin:auto; 
  
}


.btnadd{
  max-width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: right;
  margin-top:25px !important;
}
/* } */

@media screen and (max-width:899px) {
  .userlist-tb{
    overflow-x: scroll !important;
  padding-bottom: 5px;
  max-width:90%;
  }

  .userlist-tb th{
    font-size: 16px;
  }
  .usr_va{
    min-width: 129px;
  }
  .usr_ac{
    min-width: 80px;
  }
  .usr_na{
    min-width: 109px;
  }


  .btnadd{
    max-width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: right;
  }
}
 
/*********** Call List Admin ********/

.calllist-table{
  max-width: 80% !important;
  margin:auto !important;

}
.calllist-table-main{
  overflow: hidden !important;
}

@media screen and (max-width:899px){
  .calllist-table{
    max-width: 90% !important;
    overflow-x: scroll;
  }
}


/************ Product List ***********/
.main-cont-pro{
  max-width: 80%;
  margin: auto !important;
  overflow: hidden;
}
.main-cont-pro-btn{
  text-align: right;
}

.prod-tb-1{
  min-width: 164px;
}
.prod-tb-2, .prod-tb-3{
  min-width: 100px;
}
.prod-tb-4{
  min-width: 147px;
}
@media screen and (max-width:899px) {
  .main-cont-pro{
    max-width: 90% !important;
  }
  .main-cont-pro-tab{
    overflow-x:scroll !important;
  }


}


/************** Module List ***********/
.module-list-se{
  max-width: 60%;
  margin:auto;
}

.module-list-ar{
  max-width: 90%;
    margin: auto !important;
}
.module-pagination-ar{
  width:100%;
  margin-bottom: 50px;
  margin-top: 30px;
}

.module-pagination-ar nav{
  margin: auto;
  width: fit-content;
}

.module-list-ar .MuiGrid-item{

  padding:15px !important;
  margin-bottom: 0px;
}
/*.viweditbtn .MuiGrid-root{
text-align: center;
}*/

.viweditbtn .MuiGrid-root svg{
  margin-top: -10px;
  font-size: 22px !important;
}

.viweditbtn{
  margin-top: 10px !important;
}           

.btn-active-mdlist, .editmodule-list{
  text-align: right;
}

.create-btn{
  padding-top: 12px !important;
  padding-bottom: 11px !important;
}
.create-btn svg{
  margin-top: -7px !important;
    margin-right: 3px !important;
}

@media screen and (max-width:1080px) {
  .module-list-se{
    max-width: 80% !important;
  }
}

@media screen and (max-width:599px){
  .user-header .icon-near-search {display: none;}
  .user-list-table table {
    width: 650px;
  }
  .select-day {
   width:25px;
   height:25px;
  }
  .file-modules-table {
    width: 650px!important;
  }
  .searchbar-result-wrapper {
    width: calc(100% - 32px);
    left: 16px;
    right: 16px;
  }
  .create-btn{
    margin-top: 15px !important;
    margin-left: 0px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}


/***************************************/
.banner-section-cus{
  max-width: 60%;
  margin-left:5%;
}

@media screen and (max-width:768px){
  .banner-section-cus{
  max-width: 90% !important;
  }
}


/***** Header *******/
.header{
  overflow: hidden;
}


/**** Product Active Class ******/
.back-icon-proact {
  color: #0cb4d0;
  font-size: 30px !important;
  cursor: pointer;
  margin-left: 5px;
}
.max-width-table{
  max-width: 60% !important;
  margin:auto !important;
}

@media screen and (max-width:1199px) {
  .file-modules,
  .fileActive {
    font-size: 16px;  
  }
  .max-width-table{
  max-width: 80% !important;
  }
}


@media screen and (max-width:899px) {
  .max-width-table, .max-width-mo{
  max-width: 90% !important;
  }

  .pro-width{
    min-width: 160px;
  }
  .vi-width{
    min-width: 177px;
  }
  .max-width-table{
    overflow: scroll;
  }

}


/********** Module Active *******/
.max-width-mo{
  max-width: 60% !important;
  margin:auto !important;
}

@media screen and (max-width:899px) {
  .max-width-mo{
  max-width: 90% !important;
  }
}

.product-module-list{
  max-width: 90% !important;
  margin: auto;
  padding: 15px !important;
}

.product-module-list-btn{
  text-align: right;
} 
.product-module-list-btn svg{
  margin-right: 5px;
  margin-top: -8px !important;
}

@media screen and (max-width:599px){
  .header{
    overflow: visible;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
  }
  .product-module-list-btn{
    text-align: left;
   
  }

  .product-module-list-btn button{
    margin-left:0px !important;
    margin-top: 15px;
  }
}

.check-boxs{

  padding: 10px !important;
}

.check-box-shadow, .box-shadow-doc{
  box-shadow: 0px 0px 10px #eeee;
  padding: 20px !important;
  border:1px solid #efeaea;
}

.check-boxs-main-cus{
  max-width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.viewGuid, .text-align-right{
  text-align: right;
}


.read-btn{
  background-color: #1bbd1b !important;
  padding: 3px 10px;
  border-radius: 38%;
  font-size: 13px;
  color: white;
  width: max-content;
}


.document-module-cus{
max-width: 95% !important;
margin:auto !important;

}

.vie-doc-btn{
  text-align: right !important;
}

.doc-btn svg{
margin-top: -10px;
}
.doc-btn{
  margin-top: 30px;
}

.edit-btn-side button{
width:100%;
}

.inner-edit-doc-sec{
  max-width:90%;
  margin:auto;
  }

  .cus-btn-edit{
    padding:3px;
    margin-top: 0px !important; 
    margin-bottom: 10px !important;
    
  }
  .edit-btn-right{
    padding-right:1%;
  }

  .mar-auto{
margin-left:auto !important;
margin-right: auto !important;
  }

  @media screen and (max-width:599px){
  .cus-btn-edit button{
    font-size:12px !important;
  }
  .mar-add-btn{
    margin-top: 0px !important;
  }

  .editor-box{
    padding-left: 0px !important;
  }
}


@media screen and (max-width:899px){
  .editor-box{
    padding-left: 10px !important;
  }
}




.chek-btn-size{
  margin-top: 0px !important;
}

@media screen and (max-width:599px){
  .header-logo {height: 50px;}
  .chek-btn-size button{
    font-size: 11px;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}